# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# LINE LIFF
NEXT_PUBLIC_LIFF_ID=

# 匯款帳號資訊（顯示給客戶）
NEXT_PUBLIC_BANK_CODE=
NEXT_PUBLIC_BANK_ACCOUNT=
NEXT_PUBLIC_BANK_HOLDER=